<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.min.css">
  <title>嘉永装修详情页</title>
</head>

<body>
  <div class="d_wrap">
    <div class="news-detail-real-content">
      <div class="detail_logo">
        <img src="/imgs/logo.png" alt="">
      </div>
      <h1 id="title"><%= title%></h1>
      <div class="news-abstract">
        <p><span class="weight-bold">详情摘要：</span><span id="abstract"><%= desc%></span></p>
      </div>
      <div id="content">
        <% imgs.forEach(function(item) {%>
        <div class="cell">
          <p style="text-align:center;">
            <img src=<%= item.src %> width="800"  alt="">
          </p>
          <h2 style="text-align:center;">
			       <%= item.desc %>
		      </h2>
        </div>
        <% })%>
      </div>
      </span>
    </div>
  </div>
  <div class="g">
    <h1></h1>
  </div>
</body>

</html>