<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="SyM7MXd2N2" />
    <title>数字钱包 | 安全 快速 专业</title>
    <link rel="icon" href="https://www.dae.org/images/favicon.png" />
    <link rel="stylesheet" href="./index_a.css">
</head>
<body>
<div class="wrapper">
    <section class="banner">
        <div class="banner-inner">
            <img class="logo" src="./image/logo.png" alt="数字钱包">
            <p class="title">安全 快速 专业</p>
            <p class="sub-title">利用比特币独特的多重签名技术，数字钱包实现了安全与快速的完美集合</p>
            <a class="banner-a" href="https://www.dae.org/register">免费申请领取专属钱包</a>
        </div>
    </section>
    <section class="info">
        <p class="info-title">为什么选择“数字钱包”？</p>
        <p class="info-sub-title">用户们喜爱，技术狂称赞媒体认可</p>
        <ul class="info-features">
            <li class="info-feature">
                <div class="info-feature-up">
                    <span class="info-feature-up-span info-feature-up-span-1"></span>
                </div>
                <div class="info-feature-down">
                    <p class="info-feature-down-title">安全</p>
                    <p class="info-feature-down-content">我们分布安全中心可帮助<br />
                        您备份资金，并保护他们<br />
                        免遭未经授权的访问</p>
                </div>
            </li>
            <li class="info-feature">
                <div class="info-feature-up">
                    <span class="info-feature-up-span info-feature-up-span-2"></span>
                </div>
                <div class="info-feature-down">
                    <p class="info-feature-down-title">快速</p>
                    <p class="info-feature-down-content">数字钱包采用了复杂的签<br />
                        名机制，使用起来却简单<br />
                        快捷</p>
                </div>
            </li>
            <li class="info-feature">
                <div class="info-feature-up">
                    <span class="info-feature-up-span info-feature-up-span-3"></span>
                </div>
                <div class="info-feature-down">
                    <p class="info-feature-down-title">专业</p>
                    <p class="info-feature-down-content">专业设备、更专业客服人<br />
                        员24小时在线服务<br /></p>
                </div>
            </li>
        </ul>
    </section>
    <section class="company">
        <p class="company-title">公司介绍</p>
        <p class="company-content">数字钱包，是链盟（上海）数字科技有限公司为数字货币的爱好者提供的专业、安全、人性化的数字货币存储服务<br />
            集结了顶尖区块链技术团队，致力于打造中国最可靠的数字货币钱包产品。
        </p>
        <a class="company-a" href="https://www.dae.org/register">点击领取您的专属钱包</a>
    </section>
    <footer>
        <p>联系电话：021-617366358<br />2017 数字钱包版权所有 | 沪ICP备17029735号-1</p>
    </footer>
</div>
</body>
</html>
